{% extends "base.html" %}

{% block disqus %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script>
var gitalk = new Gitalk({
  clientID: '24d2aa04c69c48d0d59e',
  clientSecret: 'c29f6b8c195008903fb3275eb365d377ece92997',
  repo: 'gitalk',
  owner: 'White-NX',
  admin: ['White-NX'],
  proxy: 'https://commit-cors.whitenx.workers.dev',
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: true  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
<div id="gitalk-container"></div>

  <!-- jquery -->
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="/overrides/whpt.js"></script>
  <!-- code -->
  <script>
  if (window.frames.length != parent.frames.length) {
　　console.error('[WhiteNX安全中心]在iframe中');
　　$(document).ready(function(){
　　    $('body').replaceWith('<body><h1>403 Forbbiden</h1></body>');
　　})
　　window.open("https://java.eyling.top");
}
</script>
{% endblock %}